.main {
    margin-top: 40px;
}

.form {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 16px;
    margin-top: 40px;
    gap: 10px;
}

.input {
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: none;
    max-width: 400px;
    flex-grow: 1;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3600b3;;
}

.button {
    background-color: #ffffff;
    color: #4a00e0;
    transition: background-color 0.3s, color 0.3s;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #f0e6ff;
    color: #3600b3;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error {
    color: red;
}

@media (max-width: 480px) {
    .form {
        flex-direction: column;
    }

    .input {
        max-width: 100%;
    }
}
